<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807787441192-b0k4q3smp7ug87ce3f1u41hv5ol724kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807787441192-b0k4q3smp7ug87ce3f1u41hv5ol724kj</string>
	<key>API_KEY</key>
	<string>AIzaSyD2vnOwJSiEUGqKfIQtP72VFvvuULZ3ckY</string>
	<key>GCM_SENDER_ID</key>
	<string>807787441192</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macvindev.ideal</string>
	<key>PROJECT_ID</key>
	<string>ideal-fgmb</string>
	<key>STORAGE_BUCKET</key>
	<string>ideal-fgmb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807787441192:ios:aee9efb0a801daa62c191d</string>
</dict>
</plist>